/*
  Purple theme
*/
:root {
  /* bg */
  --vp-shadow: 0 1px 8px 0 rgba(200,200,200, .6);
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
  /* select */
  --vp-c-indigo-1: rgb(90,44,151);
  --vp-c-indigo-2: rgb(90,44,151);
  --vp-c-indigo-3: rgb(90,44,151);
  --vp-c-indigo-soft: rgba(100, 108, 255, 0.14);
  --vp-shadow-hover: 0 1px 8px 0 var(--vp-c-indigo-1);

  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    rgb(90,44,151) 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgb(90,44,151)  50%,
    #47caff 50%
  );
}

.dark {
  --vp-shadow: 0 1px 8px 0 rgba(0,0,0, .6);
  --vp-c-bg: #181818;
  --vp-c-bg-alt: #282C34;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;

  --vp-c-indigo-1: rgb(90,44,151);
  --vp-c-indigo-2: rgb(90,44,151);
  --vp-c-indigo-3: rgb(90,44,151);
  --vp-c-indigo-soft: rgba(100, 108, 255, 0.16);
}
